{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Person list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Lname</th>
                <th>Fname</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('person_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.login }}</td>
                <td>{{ entity.lName }}</td>
                <td>{{ entity.fName }}</td>
                <td>
                   {% if entity.state == getParam('state_active') %}
                    {{ getParam('state_active_name') }}
                   {% elseif entity.state == getParam('state_banned') %}
                       {{ getParam('state_banned_name') }}
                   {% elseif entity.state == getParam('state_removed') %}
                       {{ getParam('state_removed_name') }}
                   {% endif %}
                    
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('person_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('person_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('person_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
